<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'AzureStorage'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'AwsS3Storage'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Gallery.SiteRoot'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Gallery.RequireSSL'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Feature.TrackPackageDownloadCountInLocalDatabase'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Gallery.WarningBanner'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Gallery.Environment'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Gallery.Brand'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Gallery.GalleryOwner'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Gallery.GalleryNoReplyAddress'))"/>
    <add xdt:Transform="RemoveAll" xdt:Locator="Condition(contains(@key, 'Gallery.ConfirmEmailAddresses'))"/>

    <add key="Gallery.SiteRoot" value="#{NuGetGallerySiteRoot}" xdt:Transform="Insert"/>
    <add key="Gallery.RequireSSL" value="false" xdt:Transform="Insert"/>
    <add key="Feature.TrackPackageDownloadCountInLocalDatabase" value="true" xdt:Transform="Insert"/>
    <add key="Gallery.AwsS3Storage.AccessKey" value="#{NuGetGalleryAwsS3AccessKey}" xdt:Transform="Insert"/>
    <add key="Gallery.AwsS3Storage.SecretKey" value="#{NuGetGalleryAwsS3SecretKey}" xdt:Transform="Insert"/>
    <add key="Gallery.AwsS3Storage.Bucket" value="#{NuGetGalleryAwsS3Bucket}" xdt:Transform="Insert"/>
    <add key="Gallery.AwsS3Storage.Region" value="#{NuGetGalleryAwsS3Region}" xdt:Transform="Insert"/>
    <add key="Gallery.AwsS3Storage.RootDirectory" value="#{NuGetGalleryAwsS3RootDirectory}" xdt:Transform="Insert"/>
    <add key="Gallery.WarningBanner" value="#{NuGetGalleryWarningBanner}" xdt:Transform="Insert"/>
    <add key="Gallery.Environment" value="#{NuGetGalleryEnvironment}" xdt:Transform="Insert"/>

    <add key="Gallery.Brand" value="#{NuGetGalleryBrand}" />
    <add key="Gallery.GalleryOwner" value="#{NuGetGalleryGalleryOwner}" />
    <add key="Gallery.GalleryNoReplyAddress" value="#{NuGetGalleryNoReplyAddress}" />
    <add key="Gallery.ConfirmEmailAddresses" value="#{NuGetGalleryConfirmEmailAddresses}" />

  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="Gallery.SqlServer" connectionString="#{NuGetGallerySqlServerConnectionString}" providerName="System.Data.SqlClient"/>
    <add name="Gallery.SupportRequestSqlServer" connectionString="#{NuGetGallerySupportSqlServerConnectionString}" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpCookies requireSSL="false" httpOnlyCookies="true" xdt:Transform="Replace"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>